img {
    display: block;
    margin: auto !important;
}

.md-main__inner {
    max-width: 90% !important;
}

.admonition {
    max-width: 75%;
    margin-left: auto !important;
    margin-right: auto !important;
}