site_name: Posware official docs
site_url: https://posware.io/             # quando non useremo le Github Pages useremo questo link per il sito della documentazione
copyright: Copyright 2024&copy; I.Si.D S.r.l.

theme:
  name: material
  custom_dir: overrides
  language: it
  logo: assets/images/favicon.ico
  favicon: assets/images/favicon.ico
  icon:
    annotation: material/eye-circle
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.expand
    - search.highlight
    - search.suggest
    - content.code.copy
    - content.code.select
    - content.tooltips
    - toc.integrate

extra_css:
  - stylesheets/extra.css
  
extra_javascript:
  - javascripts/extra.js
  
extra:
  generator: false
  social:
    - icon: ISiD
      link: https://isid.it/
  version:
    provider: mike
    default: latest

plugins:
  - search
  - tags
  - offline
  - git-revision-date-localized:
      enabled: true
      type: date
      locale: it
  - enumerate-headings:
      increment_across_pages: false
      exclude:
        - index.md
        - download/*
        - posware/*
        - getting-started/scenari-avanzati/*

nav:
  - Home: index.md
  - Getting started: 
    - Scenari di installazione: getting-started/index.md
    - Installazione e aggiornamenti Posware Frontend:
      - Overview generale: getting-started/installazione-posware-frontend/overview-generale.md
      - Dipendenze e aggiornamenti: getting-started/installazione-posware-frontend/dipendenze-aggiornamenti-necessari.md
      - SetupPosware: getting-started/installazione-posware-frontend/setup-posware.md
      - PosUpdate: getting-started/installazione-posware-frontend/pos-update.md
    - Installazione e aggiornamenti StoreServer:
      - Overview generale: getting-started/installazione-storeserver/overview-generale.md
      - Procedure comuni: getting-started/installazione-storeserver/installazione-procedure-comuni.md
      - Nuova installazione: getting-started/installazione-storeserver/installazione-nuovo-storeserver.md
      - Migrazione: getting-started/installazione-storeserver/migrazione-servizi-legacy.md
      - Aggiornamento: getting-started/installazione-storeserver/aggiornamento-storeserver.md
      - Servizi legacy: getting-started/installazione-storeserver/servizi-legacy.md
      - Disinstallazione: getting-started/installazione-storeserver/disinstallazione-storeserver.md
    - Scenari avanzati:
      - Aggiunta dati custom database: getting-started/scenari-avanzati/dati-custom-database-storeserver.md
    - Approfondimenti Posware: 
      - Tabella riferimento .NET: posware/dot-net-table-reference.md
      - Known issues v4.2: posware/known-issues-42.md
      - Breaking changes: posware/breaking-changes.md
  - Feature e moduli:
    - Panoramica: posware-modules/index.md
    - StoreServer:
      - Funzionalità di base:
        - Statistiche dettagliate: posware-modules/main-module/statistiche-dettagliate.md
      - Posware Price Checker: posware-modules/main-module/posware-price-checker.md
      - Fatturazione elettronica: posware-modules/main-module/fatturazione-elettronica.md
    - Posware Frontend:
      - Log Transazione Posware: posware-modules/posware-frontend/tracciato-record-log.md
      - Argentea Satispay: posware-modules/posware-frontend/argentea-satispay.md
      - Funzionalità RT 2.0 (XML7): posware/funzionalita-rt-20.md
      - Pin dispatching: posware/funzionalita-pin-dispatching.md
      - Lotteria degli scontrini: posware/lotteria-degli-scontrini.md
      # - Fatturazione immediata: posware-modules/posware-frontend/fatturazione-immediata.md
      # - Nota di credito: posware-modules/posware-frontend/nota-di-credito.md
    - Celiachia:
      - Informazioni generali: posware-modules/celiac/informazioni-generali.md
      - Integrazione bonus celiachia Posware: posware-modules/celiac/integrazione-bonus-celiachia-posware.md
      - Rendicontazione celiachia: posware-modules/celiac/rendicontazione-celiachia.md
  - Download: download/index.md

markdown_extensions:
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - abbr
  - admonition
  - def_list
  - footnotes
  - tables
  - attr_list
  - md_in_html
  - toc:
      toc_depth: 4
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
